## LittleLemonDB Capstone Project 
- Creating a database client for Little Lemon using the Mysql python connector API/driver to interact with Little Lemon's database 
- Updating and deleting records in a MySQL database using Python

 
## Prerequisite 

To complete this exercise, you must have access to the `little_lemon` database. As an authorized user, you need to establish a connection between Python and the database via the connector API and create a `cursor` object.

In [ ]:
# Use to install mysql connector API if not installed
# !pip install mysql-connector-python

In [1]:
# use to import the mysql connector API
import mysql.connector as connector

### Task 1
In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose).

In [2]:
# Establish connection b/w Python and MySQL database via connector API
connection=connector.connect(
                             user="littlelemonadmin", # use your own
                             password="O4L!ttleL3m0nDb", # use your own
                             database="LittleLemonDB"
                            )

In [3]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once, the connection is established, and you have a cursor object, you can select the database `little_lemon` using the code below and work with the respective table to accomplish the required tasks.

In [4]:
# Set the little_lemon database for use 
cursor.execute("USE LittleLemonDB")

# Confirm the database in use
connection.database

'littlelemondb'

### Task 2
In this second task, you now need to query the database to show all tables within the database.

In [7]:
# Task 1 show your database tables

# create SQL query as a string object and add to a variable
show_tables_query = """SHOW tables""" 

# execute the query
cursor.execute(show_tables_query)

# fetch the results from the cursor
results = cursor.fetchall()

# Retrieve the column names
cols = cursor.column_names[1:]

# print column names and the records from results using for loop
print("Tables in the LittleLemonDB database:")
print("--------------------------------------")
print(cols)
for result in results:
    print(result)

Tables in the LittleLemonDB database:
--------------------------------------
()
('Bookings',)
('Customers',)
('Employees',)
('MenuItems',)
('Menus',)
('Orders',)

### Testing connection and database

In [17]:
### Testing connection and database ###

orders_query = """SELECT * FROM Customers""" 

# execute the query
cursor.execute(orders_query)

# fetch the results from the cursor
results = cursor.fetchall()

# Retrieve the column names
cols = cursor.column_names

# print column names and the records from results using for loop
print(cols)
for result in results:
    print(result)

('CustomerID', 'FullName', 'ContactNumber', 'Email')

### Task 3

Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

In [13]:
ordersgt60 = """
SELECT c.CustomerID, c.FullName, c.ContactNumber, o.TotalCost
FROM Orders o
INNER JOIN Customers c
  ON o.CustomerID = c.CustomerID
WHERE o.TotalCost > 60
"""

# execute the query
cursor.execute(ordersgt60)

# fetch results from the cursor, store in  a variable
results = cursor.fetchall()

# retrieve column names from the cursor
cols = cursor.column_names

# print the cols and results
print("Customers with orders greater than $60:")
print("---------------------------------------")
print(cols)
for result in results:
    print(result)

Customers with orders greater than $60:
---------------------------------------
('CustomerID', 'FullName', 'ContactNumber', 'TotalCost')

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed.")

## Scenario 

Little Lemon restaurant need to update the records of customers in their database. They also need to delete records related to menu items. Let’s see if you can help Little Lemon to complete these update and delete tasks using Python.

## Task 1:

The guest Diana Pinto booked a table for two. She was assigned a Booking ID of 6 and the table number 8. However, she just rang Little Lemon to request a change to her booking. She now needs a table for four guests. 

You need to update Diana’s booking to table 10 in Little Lemon’s MySQL database using Python. Once you have executed the UPDATE query, use the SELECT statement to read all the data from the bookings table and print using for loop to confirm that the booking has been updated.

In [5]:
# The update query is:
update_bookings="""UPDATE Bookings
SET TableNo=10
WHERE BookingID = 6;"""

# Execute the query to update the table
print("Executing update query")
cursor.execute(update_bookings)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("Record is updated in the table")

Executing update query
Comitting change to the table
Record is updated in the table

The above code updates the records in the “Bookings” table. The print statements are added to track the process. 

Now, you can read the records from the “Bookings” table to confirm the update using the following code:

In [6]:
# The query to retrieve all bookings is: 
all_bookings = """SELECT * FROM Bookings;"""

# Execute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve the column names
cols = cursor.column_names

# print column names and the records from results using for loop
print("Data in the 'Bookings' table")
print(cols)
for result in results:  
    print(result)

Data in the 'Bookings' table
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

## Task 2: 

Little Lemon has encountered a conflict with two bookings. To resolve the conflict, you need to update the record for the guest Joakim Iversen, who has a Booking ID of 2.  

Update Joakim’s booking in the MySQL database using Python as follows: 

* Change the guest’s table number to 11 
* Change the `EmployeeID` of the guest’s waiter to 6 

This guest’s records must be updated in two locations within the booking table.  Once you have executed the code, view the output using a SELECT statement and print using for loop in python.

In [7]:
# The update query is:
update_bookings="""UPDATE Bookings
SET TableNo=11, EmployeeID=6
WHERE BookingID = 2;"""

# Execute the query to update the table
print("Executing update query")
cursor.execute(update_bookings)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("Record is updated in the table")

Executing update query
Comitting change to the table
Record is updated in the table

The above code updates the records in the “Bookings” table. The print statements are added to track the process. 

Now, you can read the records from the “Bookings” table to confirm the update using the following code:

In [8]:
# The query to retrieve all bookings is: 
all_bookings = """SELECT * FROM Bookings;"""

# Execute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("Data in the 'Bookings' table")
print(cols)
for result in results:  
    print(result)

Data in the 'Bookings' table
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

## Task 3: 

Little Lemon restaurant didn’t receive their regular supply of ingredients today. This means that they can’t provide any Greek cuisine for their guests. They need to delete all Greek cuisine from their menu until the supply of ingredients is restored. 

Delete these records from the menu table in the Little Lemon database using Python. Once you have executed the code, view the output.

In [9]:
# The SQL query is:
delete_query_greek="""DELETE FROM Menus WHERE Cuisine = 'Greek'"""

# Execute the query
print("Executing 'DELETE' query")
cursor.execute(delete_query_greek)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("The table is updated after deletion of the requested records")

Executing 'DELETE' query
Comitting change to the table
The table is updated after deletion of the requested records

Once, the required records are deleted using the above code, you can run the code below to confirm and print the updated "Menus" table.

In [10]:
# The query to retrieve records from Menus table is: 
all_menus = """SELECT * FROM Menus;"""

# Execute query 
cursor.execute(all_menus)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

### Additional on deleting all the records holding NULL values in a certain column.

In [11]:
delete_query_null="""DELETE FROM Bookings WHERE TableNo IS NULL;"""
cursor.execute(delete_query_null)

connection.commit()

In [12]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

**NOTE: Please make sure you have reverted all the changes and your database is in its original state for the upcoming labs.**

For revisions and learning purpose, you ca recreate the database "little_lemon" and create table and populate them by rerunning the previous labs on:
* Create your table structure
* Creating and reading records